<div class="ui four column centered grid">

  <div class="column">
    <div class="b-login">
      <h2>Login</h2>

      <form class="ui form">
        <a class="ui button" href="https://github.com/login/oauth/authorize?client_id=4b4ec20bb4bb4d306500">
          <i class="github icon"></i> Login with GitHub
        </a>
      </form>
    </div>

  </div>
  <div class="column">
    <p>
      OpenDDNS requires users to understand the basics of DNS management and
      home internet router configuration.
    </p>
  </div>
</div>
