<h2 class="ui header">User Settings</h2>

<div class="ui grid">
  <div class="four wide column">
    <h3 class="ui header">Toolings</h3>
    <div class="ui message ignored">
      Upcoming feature
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui list">
      <div class="item">
        <div class="content">
          <a class="header">Application ID</a>
          <div class="description">
            <div class="ui action input">
              {{input type="text" size=60 value=model.appid readonly=true id="appid" }}
              {{#copy-button clipboardTarget="#appid" class="ui teal button"}}
                <i class="copy icon"></i>
              {{/copy-button}}
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <a class="header">Secret Key</a>
          <div class="description">
            {{#if secret}}
            <div class="ui action input">
              {{input type="text" size=60 value=secret readonly=true id="secret" }}
              {{#copy-button clipboardTarget="#secret" class="ui teal button"}}
                <i class="copy icon"></i>
              {{/copy-button}}
            </div>
            {{else}}
            <button {{action 'generateSecret' model.appid}} class="ui primary button">
              Click here to regenerate
            </button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
